.green{
  height: 300px;
  width: 500px;
  background-color: green;
  margin: auto;
  margin-top: 100px;
  border-radius: 25px;
}
.red{
  height: 200px;
  width: 200px;
  background-color: red;
  margin: auto;
  margin-top: -250px;
  border-radius: 100%;
}
.stick{
  height: 590px;
  width: 10px;
  background-color: darkslategray;
  margin-top: -235px;
  margin-left: 503px;
  border-radius: 50px;
}